:root {
    --orange: #ffa673;
    --green: #4a7a7b;
    --white: #fbfeff;
        --timber: #e7e1db;
        --black: #0d0f11;
    /* ex.. call with -background-color var(--orange) */  
    };

#hero{
    background-image: url('../images/hero-1280x850.webp');
    background-size: cover;
    background-position: center;
    padding: 80px 80px;
      
}